/* -------------------- Text ----------------------*/

  h1,h2,h3,h4,p,a,label,div {
    color: #FFF;
  }

  h1[title] {
    line-height: 150px;
    font-weight: normal;
    font-size: 100px;
  }
  
  .birth {
    font-family: 'birth_of_a_heroregular';
  }

  .black-text h1, .black-text h2, .black-text h3, .black-text h4, 
  .black-text p, .black-text a, .black-text label, .black-text div {
    color: #000;
  }

  a.link {
    color: #F8FF00;
  }

/* -------------------- End Text ----------------------*/

/* -------------------- General Layout ----------------------*/

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .hidden {
    display: none !important;
  }

  .invisible {
    visibility: hidden;
  }

  .stack-top {
    z-index: 10000;
  }

  .pull-middle {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .inline {
    display: inline-block;
  }
  
  .overflow {
    overflow: auto;
  }
  
  /* Padding */
  .pad10 {
    padding: 10px;
  }

  .pad20 {
    padding: 20px;
  }

  /* Padding Left */
  .pl30 {
    padding-left: 30px;
  }

  /* Padding Right */
  .pr30 {
    padding-right: 30px;
  }

  /* Margin Top */
  .nmt {
    margin-top: 0px;
  }

  .mt20 {
    margin-top: 20px;
  }

  .mt30 {
    margin-top: 30px;
  }
  
  .mt40 {
    margin-top: 40px;
  }
  
  .mt100 {
    margin-top: 100px;
  }
  
  /* Margin Left */
  .nlm {
    margin-left: 0px !important;
  }

  .ml5 {
    margin-left: 5px;
  }

  .ml15 {
    margin-left: 15px !important;
  }

  .ml30 {
    margin-left: 30px !important;
  }

  .ml40 {
    margin-left: 40px !important;
  }
  
  /* Margin Right */
  .mr5 {
    margin-right: 5px;
  }

  .mr20 {
    margin-right: 20px;
  }
  
/* -------------------- End General Layout ----------------------*/

/* -------------------- General Display ----------------------*/

  [box] {
    background-color: rgba(119,119,119, 0.6);
    box-shadow: 1px 1px 20px 10px #777;
    -webkit-box-shadow: 1px 1px 20px 10px #222;
    -moz-box-shadow: 1px 1px 20px 10px #777;
    -o-box-shadow: 1px 1px 20px 10px #777;
    -k-box-shadow: 1px 1px 20px 10px #777;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -k-border-radius: 30px;
  }

  [white-box] {
    background-color: #FFF;
    border: 2px solid #333;
    box-shadow: 1px 1px 20px 10px #777;
    -webkit-box-shadow: 1px 1px 20px 10px #222;
    -moz-box-shadow: 1px 1px 20px 10px #777;
    -o-box-shadow: 1px 1px 20px 10px #777;
    -k-box-shadow: 1px 1px 20px 10px #777;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -k-border-radius: 30px;
  }

  [main] {
    min-height: 800px !important;
    padding: 20px;
  }

  ul.plain-list li {
    margin: 2px 0px;
    list-style-type: none;
  }

/* -------------------- End General Display ----------------------*/

/* -------------------- Backgrounds ----------------------*/

  .background-cover {
    background-size: cover !important;
  }

  [background] {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  [background='browser'] {
    background: url('/images/backgrounds/main/browser_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='music'] {
    background: url('/images/backgrounds/main/music_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='movies'] {
    background: url('/images/backgrounds/main/movies_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='images'] {
    background: url('/images/backgrounds/main/images_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='file_manager'] {
    background: url('/images/backgrounds/main/file_manager_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

/* -------------------- End Backgrounds ----------------------*/

/* -------------------- Accordion ----------------------*/

  [accordion] h3:first-child {
    margin-top: 0px;
  }

  [accordion] h3 {
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -k-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #FFF;
    background-color: #0088cc;
    outline: none;
  }

  [accordion] h3:hover {
    background-color: #00A5FB;
    color: #FFF;
  }

  [accordion] div.content {
    padding: 10px;
  }

/* -------------------- End Accordion ----------------------*/

/* -------------------- Specific Layout ----------------------*/

  #preview_search_video {
    margin: 15px 0px 0px 15px;
  }

  [search-preview] {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #FFF;
    border: 3px solid #777;
    box-shadow: 1px 1px 20px 10px #777;
    -webkit-box-shadow: 1px 1px 20px 10px #222;
    -moz-box-shadow: 1px 1px 20px 10px #777;
    -o-box-shadow: 1px 1px 20px 10px #777;
    -k-box-shadow: 1px 1px 20px 10px #777;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -k-border-radius: 30px;
    z-index: 1000000;
  }

  #web_results_container {
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -k-border-radius: 30px;
  }

  #web_results_container div.span12 {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #222;
  }

  #web_results_container div.span12:hover {
    padding-left: 50px !important;
  }

  [file-browser] {
    min-height: 760px !important;
  }

/* -------------------- End Specific Layout ----------------------*/

/* -------------------- Fonts ----------------------*/

  @font-face {
    font-family: 'birth_of_a_heroregular';
    src: url('/fonts/birth_of_a_hero-webfont.eot');
    src: url('/fonts/birth_of_a_hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/birth_of_a_hero-webfont.woff') format('woff'),
         url('/fonts/birth_of_a_hero-webfont.ttf') format('truetype'),
         url('/fonts/birth_of_a_hero-webfont.svg#birth_of_a_heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* -------------------- End Fonts ----------------------*/
