!!! 5
html
  head
    title AMP - Media Player
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Organise your music easy')
    meta(name='author', content='Simon Mudd')

  body
    h1 404 Not Found