div(id="artist_view", class="pad20")
  
  for d, i in data

    div(class='artist-block col-md-2 nopad no-overflow')
      div(class='col-md-12 dark-back text-middle ')
        img(src="#{d.artwork}", title="#{i}")
      div(class='col-md-12 darker-back pad10 text-middle')
        span #{i}