div(id="music-browser" class="col-md-12")
  
  div(class="row")
    div(white-box class="col-md-4 pad20 black-text hidden")

      div(artist-info)
        h3 Queens of the Stone Age
        h4 I'm Designer  
        p Songs for the deaf
        
    div.col-md-12
      div.col-md-2.nopad
        div(class="col-md-11 pad20 nlm", box)
          div(class="col-md-12")
            ul(class="nav nav-pills nav-stacked plain-list")
              li(class="active")
                a(href="javascript:void(0)", nav-item="music/artists") Artists
              li(class="")
                a(href="javascript:void(0)", nav-item="music/albums") Albums
              li(class="")
                a(href="javascript:void(0)", nav-item="music/genres") Genres
              li(class="")
                a(href="javascript:void(0)", nav-item="music/songs") Songs
              li(class="hidden")
                a(href="javascript:void(0)", nav-item="music/queue") Queue
              li(class="")
                a(href="javascript:void(0)", nav-item="music/playlists") Playlists

      div.col-md-10.nopad
        div(class='col-md-12 contained pt0 pl0 pr0', main, box, music-browser)