div(id='player_controls', class='col-md-12 pad10 dark-back fixed-bottom')
  div.col-md-4

  div.col-md-8
    div(id='now_playing')
      div(class='col-md-1 nopad nlm nrm')
        img(src='http://userserve-ak.last.fm/serve/_/74670442/The+Number+of+the+Beast+thenumberofthebeast.png', class="pull-middle")
      div(class='col-md-11 nlm') 
        span(class='birth standard spaced-text') Now Playing: Iron Maiden - The Number of the Beast (04:52)

    div(id='player_buttons', class='hidden')
      img(class='player-icon', src='/images/icons/rewind.png')
      img(class='player-icon', src='/images/icons/play.png')
      img(class='player-icon', src='/images/icons/forward.png')
      img(class='player-icon', src='/images/icons/stop.png')