div(id='player_controls', class='col-md-12 pad10 dark-back fixed-bottom hidden')
  div.col-md-4.mt5
    div(mp-btn, prev-btn, class='inline-block mr15 flip valign-super')
      div(play-btn-sml, class='inline-block')
      div(play-btn-sml, class='inline-block ml-5')
      div(pause-line-sml, class='ml-5')
    div(mp-btn, play-btn, class='inline-block mr15')
    div(mp-btn, pause-btn, class='inline-block mr15 valign-tbottom hidden')
      div(pause-line)
      div(pause-line, class='ml5')
    div(mp-btn, next-btn, class='inline-block mr15 valign-super')
      div(play-btn-sml, class='inline-block')
      div(play-btn-sml, class='inline-block ml-5')
      div(pause-line-sml, class='ml-2')

  div.col-md-8
    div(id='now_playing')