script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
script(type='text/javascript' src='https://www.youtube.com/iframe_api')
script(type='text/javascript' src='/javascript/typeahead.js')
script(type='text/javascript' src='/javascript/youtube.js')
script(type='text/javascript' src='/javascript/artists.js')
script(type='text/javascript' src='/javascript/video.js')
script(type='text/javascript' src='/javascript/music_player.js')
script(type='text/javascript' src='/javascript/music_controls.js')
script(type='text/javascript' src='/javascript/music_manager.js')
script(type='text/javascript' src='/javascript/file_manager.js')
script(type='text/javascript' src='/javascript/typeahead_definitions.js')
script(type='text/javascript' src='/javascript/bing_search.js')
script(type='text/javascript' src='/javascript/main.js')