div(id="song_view", class="pad20 hidden")

  div(class="row song-row")
      div.col-md-12
        div.col-md-3
          span Artist
        div.col-md-3
          span Song
        div.col-md-3
          span Album
        div.col-md-3
          span Genre
  
  for d in data

    div(class="row song-row")
      div.col-md-12
        div.col-md-3
          span #{d.artist}
        div.col-md-3
          span #{d.title}
        div.col-md-3
          span #{d.album}
        div.col-md-3
          span #{d.genre}