
h2 
  =data.artist

h3
  =data.title+' ('+data.duration+')'

if (data.description !== undefined)
  p
    =data.description

a(href=data.link, title='Watch '+data.title+' on YouTube', class='link', target='_blank') Watch on YouTube