div(id='web_search_container', container)
  div.row
    div(class='col-md-4 pull-middle vertical-middle', rel='#browser_container')
      form(class='navbar-search form-horizontal', autocomplete='off', onsubmit='return false')
        div.form-group
          input(type='text', class='search-query form-control', rel='web-search-input', placeholder='Search the web' onkeyup='reflectSearch(this)')
        div.form-group
          button(type='button', class='btn btn-default btn-primary pull-middle', onclick='doWebSearch(this)') Search

div(id='web_results_container', container, class='col-md-12 hidden')
  div.row
    div(id='web_results_search', class='row')
      div(class="col-md-5 pull-middle")
        form(class='row form-inline', autocomplete='off', onsubmit='return false')
          div.col-md-10
            input(type='text', web-search-input, class='search-query form-control', placeholder='eg. Google')
          button(type='button', class='col-md-1 btn btn-default btn-primary ml30', onclick='doWebSearch(this)') Search

    div(id='web_results', class='col-md-6 pull-middle mt20')

div(id='fixed_search_bar', class="col-md-12 pad10 dark-back fixed-top scroll-in-hidden" scroll-trigger="#web_results_container")
  form(class='form-inline', autocomplete='off', onsubmit='return false')
    div.col-md-10.pull-middle
      div.col-md-2
        h2(class="birth spaced-text ntm nbm") Search the web
      div.col-md-7
        input(type='text', web-search-input, class='search-query form-control', placeholder='eg. Google')
      div.col-md-2
        button(type='button', class='btn btn-default btn-primary ml30', onclick='doWebSearch(this)') Search