div.col-md-6
  div(class='col-md-12', box)
    div(class='overflow pt15 pb15')
      form(class='navbar-search form-inline', autocomplete='off', onsubmit='return false')
        div.col-md-10
          input(type='text', id='youtube_search', class='search-query typeahead form-control', placeholder='Search YouTube - eg. Foo Fighters')
        button(type='button', class='col-md-1 btn btn-default btn-primary ml30', onclick='$("#youtube_search").keyup()') Search
