div(class='span6', box)
  div(class='overflow ml40 pad10')
    form(class='navbar-search form-inline', autocomplete='off', onsubmit='return false')
      label(class='control-label mr20') Bing Image Search
      input(type='text', web-search-input, class='search-query input-xxlarge', placeholder='Search the web')
      button(type='button', class='btn btn-primary ml30', onclick='doWebSearch(this, "images")') Search
