div.col-md-6
  div(class='col-md-12', box)
    div(class='overflow pt15 pb15')
      form(class='navbar-search form-inline', autocomplete='off', onsubmit='return false')
        div.col-md-10
          input(type='text', web-search-input, class='search-query form-control', placeholder='Search Bing Images - eg. meme')
        button(type='button', class='col-md-1 btn btn-default btn-primary ml30', onclick='doWebSearch(this, "images")') Search
