div(class='span6', box)
  div(class='overflow ml40 pad10')
    form(class='navbar-search form-inline', autocomplete='off', onsubmit='return false')
      label(class='control-label mr20') File Search
      input(type='text', id='file_search', class='search-query input-xxlarge', placeholder='eg. filename')
      button(type='button', class='btn btn-primary ml30', onclick='doFileSearch(this)') Search