div(class='span6', box)
  div(class='overflow ml40 pad10')
    form(class='navbar-search form-inline', autocomplete='off')
      label(class='control-label mr20') Google Search
      input(type='text', id='google_search', class='search-query input-xxlarge', placeholder='Some Search Term')