!!! 5
html
  head
    title AMP - Media Player
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Organise your music easy')
    meta(name='author', content='Simon Mudd')
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/typeahead.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body.background-cover
    div.row-fluid
      include menu.jade
