include header.jade

div.row-fluid
  include youtube_search_bar.jade
  div(class='span6', box)
     div(class='span12 ml40 pad10')
      form(class='navbar-search form-inline')
        label(class='control-label mr20') Find Images
        input(type='text', id='image_search', class='search-query typeahead', placeholder='Lake District')
    
    
include scripts.jade
