!!! 5
html
  head
    title AMP - Media Player
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Organise your music easy')
    meta(name='author', content='Simon Mudd')
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body.background-cover
    div.row-fluid
      div.span12
        ul(class='nav nav-pills')
          li.active 
            a(href='/') Main
          li 
            a(href='/music') Music
          li 
            a(href='/movies') Movies
          li 
            a(href='/file-manager') File Manager
    div.row-fluid
      div(class='span6', box)
        div(class='span6 ml40 pad10')
          form(class='navbar-search form-inline')
            label(class='control-label mr20') Find a YouTube Video
            input(type='text' class='search-query', placeholder='Foo Fighters', typeahead, data-source='/ajax/youtube-search')
      div(class='span6', box)
      
    include scripts.jade