include header.jade

div.row-fluid
  include youtube_search_bar.jade
  div(class='span6', box)

div(class='row-fluid mt30')
  div(class='span12 ', main, box)
    include video_player.jade
  
include scripts.jade
