div.col-md-6
  div(class='col-md-12', box)
    div(class='overflow pt15 pb15')
      form(class='navbar-search form-inline', autocomplete='off', onsubmit='return false')
        div.col-md-10
          input(type='text', id='movies_search', class='search-query form-control', placeholder='Search Movies - eg. Despicable Me')
        button(type='button', class='col-md-1 btn btn-default btn-primary ml30', onclick='doMovieSearch(this)') Search