div(id="music-browser" class="span12")
  
  div(class="row-fluid")
    div(white-box class="span4 pad20 black-text hidden")
      audio(controls, class="pull-middle hidden")

      div(artist-info)
        h3 Queens of the Stone Age
        h4 I'm Designer  
        p Songs for the deaf


    div.span12.nlm
      div(class="span2 pad20", box)
        div(class="nav nav-list span12")
          ul(class="nav nav-list plain-list")
            li(class="active")
              a(href="javascript:void") Library
            li(class="")
              a(href="javascript:void") Artists
            li(class="")
              a(href="javascript:void") Albums
            li(class="")
              a(href="javascript:void") Songs
            li(class="")
              a(href="javascript:void") Playlists


      div(class='span10', main, box, music-browser)