div(video-player, class='span8 nlm')
  div#video_player

div(video-details, white-box, class='span4 hidden pad20 black-text')
  div.row-fluid
    div.span12
      div(video-info)

  div.row-fluid
    div.span12
      div(artist-info, class='mt30')

  div.row-fluid
    div.span12
      div(similar-artists, class='mt30')