div(video-player, class='col-md-8 nlm')
  div#video_player

div(video-browser, file-browser, white-box, class='col-md-4 pad20 black-text')
  

div(video-details, white-box, class='col-md-4 hidden pad20 black-text')
  div.row
    div.col-md-12
      div(video-info)

  div.row
    div.col-md-12
      div(artist-info, class='mt30')

  div.row
    div.col-md-12
      div(similar-artists, class='mt30')