div(class='span6', box)
  div(class='span12 ml40 pad10')
    form(class='navbar-search form-inline', autocomplete='off')
      label(class='control-label mr20') Find a YouTube Video
      input(type='text', id='youtube_search', class='search-query typeahead input-xxlarge', placeholder='Foo Fighters')
