div(class='span6', box)
  div(class='span6 ml40 pad10')
    form(class='navbar-search form-inline')
      label(class='control-label mr20') Find a YouTube Video
      input(type='text', id='youtube_search', class='search-query typeahead', placeholder='Foo Fighters')