/* -------------------- Colours ---------------------- */

  /* @white: #FFFFFF; */
  @almost-white: #DDDDDD;
  @light-grey: #A5A3A9;
  @dark-grey: #333333;
  @almost-black: #111111;
  @box-shadow: #777777;
  @light-blue: #00A5FB;
  @blue: #0088CC;
  @darker-blue: #3576BE;
  @yellow: #F8FF00;

  /* -------------------- End Colours ---------------------- */