  
  @important: !important;

/* -------------------- Colours ---------------------- */

  @black: #000000;
  @almost-black: #111111;
  @very-dark-grey: #222222;
  @dark-grey: #333333;
  @light-grey: #A5A3A9;
  @box-shadow: #777777;
  @white: #FFFFFF;
  @almost-white: #DDDDDD;
  @light-blue: #00A5FB;
  @blue: #0088CC;
  @darker-blue: #3576BE;
  @yellow: #F8FF00;

/* -------------------- End Colours ---------------------- */

/* -------------------- Sizes ---------------------- */

  @0:   0px;
  @1:   1px;
  @5:   5px;
  @10:  10px;
  @15:  15px;
  @20:  20px;
  @25:  25px;
  @30:  30px;
  @35:  35px;
  @40:  40px;
  @45:  45px;
  @50:  50px;
  @55:  55px;
  @60:  60px;
  @65:  65px;
  @70:  70px;
  @75:  75px;
  @80:  80px;
  @85:  85px;
  @90:  90px;
  @95:  95px;
  @100: 100px;
  @150: 150px;



/* -------------------- End Sizes ---------------------- */

/* -------------------- Mixin ---------------------- */

  .text-defaults(@lh, @fs) {
    line-height: @lh;
    font-weight: normal;
    font-size: @fs;
  }

  .play-btn(@tbb, @lb) {
    width: 0; 
    height: 0; 
    border-top: @tbb solid transparent;
    border-bottom: @tbb solid transparent; 
    border-left: @lb solid @blue; 
  }

  .pause-line(@height, @bw) {
    display: inline-block;
    height: @height;
    width: 0px;
    border-right: @bw solid @blue;
  }

  .speaker-back(@width, @height, @br, @va) {
    width: @width;
    height: @height;
    background-color: @blue;
    border-top-left-radius: @br;
    border-bottom-left-radius: @br;
    vertical-align: @va;
  }

  .speaker-cone(@bs, @br, @ml) {
    width: @0;
    height: @0;
    border-top: @bs solid transparent;
    border-bottom: @bs solid transparent; 
    border-right: @bs solid @blue; 
    border-top-right-radius: @br;
    border-bottom-right-radius: @br;
    margin-left: -@ml;
  }

  .speaker-lines(@ml, @va) {
    margin-left: -@ml;
    vertical-align: @va;
  }

  .speaker-lines-div(@mh, @p, @b, @br) {
    min-height: @mh;
    padding: @p;
    border: @b solid @blue;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: @br;
  }

/* -------------------- End Mixin ---------------------- */