@import (reference) "general.less";

/* -------------------- Text ----------------------*/

  h1,h2,h3,h4,p,a,label,div {
    color: @white;
  }
  
  .birth {
    font-family: 'birth_of_a_heroregular';
  }

  .black-text h1, .black-text h2, .black-text h3, .black-text h4, 
  .black-text p, .black-text a, .black-text label, .black-text div {
    color: @black;
  }

  a.link {
    color: @light-blue;
  }

  .text-middle {
    text-align: center;
  }

  .spaced-text {
    letter-spacing: 2px;
  }

  .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }

/* -------------------- End Text ----------------------*/

/* -------------------- General Layout ----------------------*/

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .inline-block {
    display: inline-block;
  }

  .hidden {
    display: none @important;
  }

  .invisible {
    visibility: hidden;
  }

  .transparent {
    opacity: 0;
  }

  .faded3 {
    opacity: 0.3;
  }

  .contained {
    overflow: hidden;
  }

  .stack-top {
    z-index: 10000;
  }

  .pull-middle {
    display: block;
    float: none @important;
    margin-left: auto @important;
    margin-right: auto @important;
  }

  .fixed-top {
    position: fixed;
    top: @0;
    left: @0;
  }

  .fixed-bottom {
    position: fixed;
    bottom: @0;
    left: @0;
  }

  .inline {
    display: inline-block;
  }
  
  .overflow {
    overflow: auto;
  }

  .no-overflow {
    overflow: hidden;
  }

  .flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -k-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }

  .valign-super {
    vertical-align: super;
  }
  
  /* Padding */
  .nopad {
    padding: @0 @important;
  }

  .pad10 {
    padding: @10;
  }

  .pad20 {
    padding: @20;
  }

  /* Padding Top */
  .pt0 {
    padding-top: @0 @important;
  }

  .pt15 {
    padding-top: @15;
  }

  /* Padding Bottom */
  .pb10 {
    padding-bottom: @10;
  }

  .pb15 {
    padding-bottom: @15;
  }

  /* Padding Left */
  .pl0 {
    padding-left: @0 @important;
  }

  .pl30 {
    padding-left: @30;
  }

  /* Padding Right */
  .pr0 {
    padding-right: @0 @important;
  }

  .pr30 {
    padding-right: @30;
  }

  /* Margin Top */
  .ntm {
    margin-top: @0;
  }

  .mt5 {
    margin-top: @5;
  }

  .mt7 {
    margin-top: 7px;
  }

  .mt10 {
    margin-top: @10;
  }

  .mt20 {
    margin-top: @20;
  }

  .mt30 {
    margin-top: @30;
  }
  
  .mt40 {
    margin-top: @40;
  }
  
  .mt100 {
    margin-top: @100;
  }

  /* Margin Bottom */
  .nbm {
    margin-bottom: @0;
  }

  .mb20 {
    margin-bottom: @20;
  }
  
  /* Margin Left */
  .ml-2 {
    margin-left: -2px;
  }

  .ml-5 {
    margin-left: -@5;
  }

  .nlm {
    margin-left: @0 @important;
  }

  .ml5 {
    margin-left: @5;
  }

  .ml10 {
    margin-left: @10;
  }

  .ml15 {
    margin-left: @15 @important;
  }

  .ml25 {
    margin-left: 2@5 @important;
  }

  .ml30 {
    margin-left: @30 @important;
  }

  .ml40 {
    margin-left: @40 @important;
  }
  
  /* Margin Right */
  .mr5 {
    margin-right: @5;
  }

  .mr10 {
    margin-right: @10;
  }

  .mr15 {
    margin-right: @15;
  }

  .mr20 {
    margin-right: @20;
  }
  
/* -------------------- End General Layout ----------------------*/

/* -------------------- General Display ----------------------*/

  [box] {
    background-color: rgba(119,119,119, 0.6);
    box-shadow: @1 @1 @20 @10 @very-dark-grey;
    -webkit-box-shadow: @1 @1 @20 @10 @very-dark-grey;
    -moz-box-shadow: @1 @1 @20 @10 @very-dark-grey;
    -o-box-shadow: @1 @1 @20 @10 @very-dark-grey;
    -k-box-shadow: @1 @1 @20 @10 @very-dark-grey;
    border-radius: @30;
    -webkit-border-radius: @30;
    -moz-border-radius: @30;
    -o-border-radius: @30;
    -k-border-radius: @30;
  }

  [white-box] {
    background-color: @white;
    border: 2px solid @dark-grey;
    box-shadow: @1 @1 @20 @10 @box-shadow;
    -webkit-box-shadow: @1 @1 @20 @10 @box-shadow;
    -moz-box-shadow: @1 @1 @20 @10 @box-shadow;
    -o-box-shadow: @1 @1 @20 @10 @box-shadow;
    -k-box-shadow: @1 @1 @20 @10 @box-shadow;
    border-radius: @30;
    -webkit-border-radius: @30;
    -moz-border-radius: @30;
    -o-border-radius: @30;
    -k-border-radius: @30;
  }

  [main] {
    min-height: 800px @important;
    padding: @20 @20 @40;
  }

  [nav-item] {
    cursor: pointer;
  }

  [nav-item]:hover {
    text-decoration: underline;
  }

  ul.plain-list li {
    margin: 2px @0;
    list-style-type: none;
  }

  .system-message {
    position: fixed;
    bottom: @0;
    right: @10;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -k-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
  }

  .group-block {
    margin: @10;
    border-radius: @5;
    -webkit-border-radius: @5;
    -moz-border-radius: @5;
    -o-border-radius: @5;
    -k-border-radius: @5;
    overflow: hidden;
  }

  .scroll-in-hidden, .scroll-in-hidden * {
    height: @0;
    overflow: hidden;
    padding: @0;
  }

/* -------------------- End General Display ----------------------*/

/* -------------------- Backgrounds ----------------------*/

  .dark-back {
    background-color: @dark-grey;
  }

  .darker-back {
    background-color: @almost-black;
  }

  .background-cover {
    background-size: cover @important;
  }

  [background] {
    position: fixed;
    top: @0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  [background='browser'] {
    background: url('/images/backgrounds/main/browser_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='music'] {
    background: url('/images/backgrounds/main/music_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='movies'] {
    background: url('/images/backgrounds/main/movies_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='images'] {
    background: url('/images/backgrounds/main/images_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='file_manager'] {
    background: url('/images/backgrounds/main/file_manager_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

  [background='settings'] {
    background: url('/images/backgrounds/main/settings_background_hd.jpg') center no-repeat;
    background-attachment: fixed;
  }

/* -------------------- End Backgrounds ----------------------*/

/* -------------------- Accordion ----------------------*/

  [accordion] h3:first-child {
    margin-top: @0;
  }

  [accordion] h3 {
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: @5;
    -moz-border-radius: @5;
    -k-border-radius: @5;
    -o-border-radius: @5;
    -ms-border-radius: @5;
    border-radius: @5;
    cursor: pointer;
    border: @1 solid @almost-white;
    border-bottom-color: transparent;
    color: @white;
    background-color: @blue;
    outline: none;
  }

  [accordion] h3:hover {
    background-color: @light-blue;
    color: @white;
  }

  [accordion] div.content {
    padding: @10;
  }

/* -------------------- End Accordion ----------------------*/

/* -------------------- Specific Layout ----------------------*/

  #preview_search_video {
    margin: @15 @0 @0 @15;
  }

  [search-preview] {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: @white;
    border: 3px solid @box-shadow;
    box-shadow: @1 @1 @20 @10 @box-shadow;
    -webkit-box-shadow: @1 @1 @20 @10 @box-shadow;
    -moz-box-shadow: @1 @1 @20 @10 @box-shadow;
    -o-box-shadow: @1 @1 @20 @10 @box-shadow;
    -k-box-shadow: @1 @1 @20 @10 @box-shadow;
    border-radius: @30;
    -webkit-border-radius: @30;
    -moz-border-radius: @30;
    -o-border-radius: @30;
    -k-border-radius: @30;
    z-index: 1000000;
  }

  #web_results_container {
    padding: @10;
  }

  #web_results .web-result:first-child {
    border-top: @1 solid @light-grey;
  }

  #web_results .web-result {
    border-left: @1 solid @light-grey;
    border-right: @1 solid @light-grey;
    border-bottom: @1 solid @light-grey;
  }

  #web_results .web-result .col-md-12 {
    padding: @15 @20 @15 @20;
  }

  [song-row] {
    border-top: @1 solid @light-grey;
  }

  [songs-list] [song-row]:last-child {
    border-bottom: @1 solid @light-grey;
  }

  [song-row]:hover {
    background-color: @darker-blue;
  }

  .music-group-block {
    cursor: pointer;
  }

  .music-group-block img {
    margin: @10 @0;
    height: 180px;
  }

  .music-group-block .image-container:after {
    position: absolute;
    top: @0;
    left: @0;
    content: "";
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 10%, rgba(51,51,51,0) 11%, rgba(51,51,51,0) 50%, rgba(51,51,51,0) 89%, rgba(51,51,51,1) 90%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(10%,rgba(51,51,51,1)), color-stop(11%,rgba(51,51,51,0)), color-stop(50%,rgba(51,51,51,0)), color-stop(89%,rgba(51,51,51,0)), color-stop(90%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,0) 11%,rgba(51,51,51,0) 50%,rgba(51,51,51,0) 89%,rgba(51,51,51,1) 90%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,0) 11%,rgba(51,51,51,0) 50%,rgba(51,51,51,0) 89%,rgba(51,51,51,1) 90%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,0) 11%,rgba(51,51,51,0) 50%,rgba(51,51,51,0) 89%,rgba(51,51,51,1) 90%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(51,51,51,0) 11%,rgba(51,51,51,0) 50%,rgba(51,51,51,0) 89%,rgba(51,51,51,1) 90%,rgba(51,51,51,1) 100%); /* W3C */
  }

  .music-group-block span:hover {
    color: @yellow;
    text-decoration: underline;
  }

  .image-cover {
    height: @100;
    background-size: cover;
    background-position: @0 -@80;
    background-repeat: no-repeat;
  }

  .image-cover:after {
    position: absolute;
    left: @0;
    height: @100;
    width: 100%;
    content: "";
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 15%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(15%,rgba(51,51,51,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 15%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 15%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  }

/* -------------------- End Specific Layout ----------------------*/

/* -------------------- Media Queries ----------------------*/

  @import url('./tv.less') screen and (min-width: 2560px);
  @import url('./desktop.less') screen and (min-width: 992px) and (max-width: 2560px);
  @import url('./tablet.less') screen and (min-width: 768px) and (max-width: 992px);
  @import url('./mobile.less') screen and (max-width: 768px);

/* -------------------- End Media Queries ----------------------*/

/* -------------------- Fonts ----------------------*/

  @font-face {
    font-family: 'birth_of_a_heroregular';
    src: url('/fonts/birth_of_a_hero-webfont.eot');
    src: url('/fonts/birth_of_a_hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/birth_of_a_hero-webfont.woff') format('woff'),
         url('/fonts/birth_of_a_hero-webfont.ttf') format('truetype'),
         url('/fonts/birth_of_a_hero-webfont.svg#birth_of_a_heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* -------------------- End Fonts ----------------------*/
