/* Custom TypeAhead Styles */

[typeahead-suggestions] .header {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

[typeahead-suggestions] .header p {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

[typeahead-suggestions] p {
  color: #333;
  padding: 0px;
  line-height: 14px;
}

[typeahead-suggestions] div.search-row {
  min-height: 30px;
  padding: 15px 20px 10px;
  border-bottom: 1px solid #555;
}

[typeahead-suggestions] div.search-row:hover {
  background-color: #78B9FF;
}

[typeahead-suggestions] div.search-row:last-child {
  border-bottom: none;
}

/* Standard TypeAhead Styles */

[typeahead-suggestions] {
  display: block;
  position: absolute;
  z-index: 10000;
  color: #777;
  background-color: #FFF;
  border: 5px solid #555;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -k-border-radius: 15px;
  cursor: pointer;
  text-overflow: elipsis;
  overflow: hidden;
}

[typeahead-suggestions] ul {
  display: block;
  padding: 10px 20px;
}

[typeahead-suggestions] li {
  display: block;
  color: #777;
  font-family: arial;
  border-bottom: 1px solid #333;
}

[typeahead-suggestions] li:last-child {
  border-bottom: none;
}

[typeahead-suggestions] li:hover {
  color: #333;
  background-color: #78B9FF;
}